<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container" style="display: flex; justify-content: center; margin-top: 1em;">

        <div class="menu-button">Menu</div>
        <ul class="flexnav" data-breakpoint="800" style="color: red">
            <li><a href="#">Home</a></li>
            
            <li><a href="/startJourney">Start</a></li>
            <li><a href="#">Journeys</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

    </div>
    <div class="card-section" style="margin-top: 5em;">
            <div style="text-align: center; font-family: 'Muli', sans-serif;">
                <h1 style="display: inline; margin: 0;">Most recent</h1>
                <h4 style="display: inline; margin: 0;">2023/09/14</h6>
            </div>
        
            <div>
                <div style="text-align: center; font-family: 'Muli', sans-serif;">

                           <div class="aCard" style="display: flex; justify-content: space-between; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); background-color: #fff; border-radius: 10px; width: 55%; margin: auto; margin-top: 3em;">
                                <div class="aCardTitle" style="flex: 1; padding: 30px; text-align: left; max-width: 48%; background-color: #2A265F; color: white;">
                                    <div style="margin-left: 1em;">
                                        <h5>Notes</h5>
                                        <h1 style="font-size: 36px;">Javascript</h1>
                                        <h5 style="margin-top: 1em;">Started: 4 weeks ago</h5>
                                    </div>
                                </div>
                                <div class="aCardTitle" style="flex: 1; padding: 30px; text-align: left; max-width: 48%; padding-left:1px">
                                    <div>
                                        <h5>Goal 3/7</h5>
                                        <h1>Asynchronous functions</h1>
                                        <div style="text-align: right; padding-bottom: 0px;">
                                            <div style="margin-top: 2em; display: inline-block; padding: 12px 25px; background-color: #2A265F; color: white;">
                                               Continue 
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>
                
            </div>    
            
        </div>
        <div>
            <div style="margin-top: 3em; text-align: center; padding-bottom: 0px; font-family: 'Muli', sans-serif;">
                <div style="font-size: 18px;margin-top: 2em; display: inline-block; padding: 12px 25px; background-color: #2A265F; color: white;">
                    <a href="/all" style="color: white;">View All</a> 
                </div>
            
            </div>
        </div>
    </div>
</body>
</html>